
.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #words {
    color: #090c02;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2em;
    margin-right: 5em;
    text-align: left;
  }
  #emailInput{
      margin-top: 0.5em;
  }
  #wordsEmail {
    text-align: left;
    color: #090c02;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2em;
    margin-left: 5em;
  }
  .footer {
    height: 10em;
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #submit {
    border: 1px solid #764134;
    border-radius: 20px;
    color: #764134;
    margin: 1em;
    height: 3em;
    width: 5em;
    font-family: Work Sans;
    font-style: normal;
    line-height: normal;
    text-decoration-line: underline;
    background-color: transparent;
  }
  
  #emailIn {
    margin-left: 4em;
    color: #d9d2b6;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    background-color: #764134;
    height: 2em;
    border: 1px solid #764134;
  
  }
  
  