.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: -10px;
}
.pageLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}
.menuPages{
    font-family: Truculenta;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.5em;
}

.menuPages:hover{
  cursor: pointer;
  text-decoration: underline;
}
