.graphicPage {
  background-color: #d9d2b6;
}
.menuGraphic {
  color: #3423a6;
}
.footGraphic {
  background-color: #3423a6;
  color: #d9d2b6;
}

.footGraphic .submit {
  border: 1px solid #d9d2b6;
  color: #d9d2b6;
}

.footGraphic .emailIn {
  color: #764134;
  background-color: #d9d2b6;
  border: 1px solid #d9d2b6;
}
.titleGraphic {
  color: #fff;
  font-family: Work Sans;
  font-size: 300px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 0;
}
.mag {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20em;
  margin-right: auto;
}
.spreads {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1em;
}
#design {
  margin-top: -0.4em;
  z-index: 0;
}
#graphic {
  z-index: 1;
}

#topL {
  position: relative;
  background-color: #3423a6;
  width: 100%;
  border-width: 0;
  height: 0.03em;
  margin-left: 0;
  color: #3423a6;
  z-index: 2;
  margin-top: -0.6em;
}

#bottomL {
  position: relative;
  background-color: #3423a6;
  width: 100%;
  border-width: 0;
  height: 0.03em;
  margin-left: 0;
  color: #3423a6;
  z-index: 3;
  margin-top: -0.7em;
}

.albumDesign {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 15em;
}

#album {
  width: 40%;
}
#mock {
  width: 56%;
}

#afterDesign {
  position: relative;
  background-color: #3423a6;
  width: 100%;
  border-width: 0;
  height: 0.3em;
  margin-left: 0;
  color: #3423a6;
  margin-top: 4em;
}

#post {
  margin-top: 4em;
  width: 96%;
}

#cover {
  width: 35%;
}
#firstS {
  width: 65%;
}
#secondS {
  width: 65%;
  margin-top: 1em;
}
