body {
  background-color: #090c02;
}
.menu {
  color: #d9d2b6;
}
.intro {
  color: #fff;
  font-family: Work Sans;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: flex-start;
  z-index: 1;
}

#gradPic{
    width: 35%;
    height: 15%;
    margin-top: 3%;
    margin-left: 1%;
    z-index: 0;
}

.imgAndName{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

#first{
    margin-left: 30%;
}
#last{
    margin-left: 50%;
}
