.resumePage {
  background-color: #d9d2b6;
}
.menuResume {
  color: #3423a6;
}

.titleResume {
  color: #fff;
  font-family: Work Sans;
  font-size: 300px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 0;
}
#topLine {
  position: relative;
  background-color: #3423a6;
  width: 100%;
  border-width: 0;
  height: 0.4em;
  margin-left: 0;
  color: #3423a6;
  z-index: 2;
  margin-top: -14em;
}
#bottomLine {
  position: relative;
  background-color: #3423a6;
  width: 100%;
  border-width: 0;
  height: 0.4em;
  margin-left: 0;
  color: #3423a6;
  z-index: 2;
  margin-top: 6em;
}
.persInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5em;
  margin-right: 4em;
  margin-left: 4em;
  color: #3423a6;
  text-align: justify;
  font-family: Truculenta;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#linked {
  color: #3423a6;
  text-decoration: underline;
  cursor: pointer;
}

.infoTotal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.infoLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-right: 3em;
  margin-left: 2em;
}
.infoRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-right: 2em;
  margin-left: 8em;
}
.infoTitle {
  color: #3623a6;
  text-align: justify;
  font-family: Work Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 4em;
}
.infoBody {
  color: #3623a6;
  text-align: justify;
  font-family: Truculenta;
  font-size: 30px;
  font-style: bold;
  font-weight: 700;
  line-height: normal;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 1em;
}
.info {
  color: #3623a6;
  text-align: justify;
  font-family: Truculenta;
  font-size: 25px;
  font-style: lighter;
  font-weight: 700;
  line-height: normal;
  margin-left: 2em;
}

.footResume {
  background-color: #3423a6;
  color: #d9d2b6;
}

.footResume .submit {
  border: 1px solid #d9d2b6;
  color: #d9d2b6;
}

.footResume .emailIn {
  color: #764134;
  background-color: #d9d2b6;
  border: 1px solid #d9d2b6;
}

.footResume .linked {
  color: #d9d2b6;
}
/* Media query for phones */
@media only screen and (max-width: 767px) {
  .titleResume {
    font-size: 100px;
  }
  .infoTotal {
    align-items: center;
  }

  .persInfo {
    margin-top: 1em;
  }

  .infoLeft,
  .infoRight {
    margin: 0.2em;
  }

  #topLine,
  #bottomLine {
    margin-top: 1em;
  }
  .resumePage {
    background-color: #d9d2b6;
  }
  .menuResume {
    color: #3423a6;
  }

  #topLine,
  #bottomLine {
    position: relative;
    background-color: #3423a6;
    width: 100%;
    border-width: 0;
    height: 0.4em;
    margin-left: 0;
    color: #3423a6;
    z-index: 2;
  }

  .persInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .infoTotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infoLeft,
  .infoRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin: 1em;
  }
}
